<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/carousel.css" rel="stylesheet" />
    <style>
        .navbar-inverse{
            background-color:#ff7b29;
            border-color: #fff;
        }
        .navbar-inverse .navbar-brand{
            color:#fff;
            
        }
        .navbar-inverse .navbar-nav > li > a{
            color:#fff;
        }
        .cookingbook-img-col6{
            width:100%;
            height:400px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top cookingboo-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="/home/index">Cooking Book</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home/index">Home</a></li>
                    <li><a href="/home/recipe">Recipe</a></li>
                    <li><a href="/home/gallery">Gallery</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Recipe</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Jian Zhong</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function () {
            'use strict';
            console.log("test");
            $('.cookingbook-img-col6').on('click', function (event) {
                event.preventDefault();
                $('#myModal').modal('show');
                console.log($(this).hasClass('fruittar'));
                console.log($(this).hasClass('croissant'));
                if ($(this).hasClass('fruittar')) {
                    $('#myModalLabel').text("Fruit Tart Recipe");
                    var fruittarhtml = '<ul class="text-left">' +
                                        '<li>Step 1:On a lightly floured work surface, roll out dough to a 12-inch round, about 1/4-inch thick. With a dry pastry brush, sweep off excess flour; fit dough into a 9-inch round fluted tart pan with a removable bottom, pressing into edges. Using a sharp paring knife, trim dough flush with pan. Chill tart shell until firm, about 30 minutes.</li>' +
                                        '<li>Step 2:Preheat oven to 375 degrees. Prick bottom of dough all over with a fork. Line with parchment paper, leaving at least a 1-inch overhang. Fill with pie weights or dried beans. Bake until edges are just beginning to turn golden, about 40 minutes. Remove parchment paper and weights; continue baking until deep golden all over, 10 to 15 minutes. Cool tart shell completely on wire rack.</li>' +
                                        '<li>Step 3:Meanwhile, place heavy cream and sugar in the bowl of an electric mixer fitted with the whisk attachment; beat until soft peaks form. Working in batches, gently fold whipped cream into pastry cream; set aside.</li>' +
                                        '<li>Step 4:Place jelly or jam in a small saucepan over medium-low heat, stirring, until melted and smooth. Set glaze aside to cool slightly.</li>' +
                                        '<li>Step 5:Spoon pastry cream mixture into cooled tart shell and spread evenly with an offset spatula. Top with berries; brush berries with glaze. Tart is best served the day it is made.</li>' +
                                   ' </ul>'
                    $('.modal-body').html(fruittarhtml);
                }
                if ($(this).hasClass('croissant')) {
                    $('#myModalLabel').text("Croissant Recipe");
                    var croissanthtml = '<ul class="text-left">' +
                                        '<li>Step 1:Combine yeast, warm water, and 1 teaspoon sugar. Allow to stand until creamy and frothy.</li>' +
                                        '<li>Step 2:Measure flour into a mixing bowl. Dissolve 2 teaspoons sugar and salt in warm milk. Blend into flour along with yeast and oil. Mix well; knead until smooth. Cover, and let rise until over triple in volume. Deflate gently, and let rise again until doubled. Deflate and chill 20 minutes.</li>' +
                                        '<li>Step 3:Massage butter until pliable, but not soft and oily. Pat dough into a 14 x 8 inch rectangle. Smear butter over top two thirds, leaving 1/4 inch margin all around. Fold unbuttered third over middle third, and buttered top third down over that. Turn 90 degrees, so that folds are to left and right. Roll out to a 14 x 6 inch rectangle. Fold in three again. Sprinkle lightly with flour, and put dough in a plastic bag. Refrigerate 2 hours. Unwrap, sprinkle with flour, and deflate gently. Roll to a 14 x 6 inch rectangle, and fold again. Turn 90 degrees, and repeat. Wrap, and chill 2 hours.</li>' +
                                        '<li>Step 4:To shape, roll dough out to a 20 x 5 inch rectangle. Cut in half crosswise, and chill half while shaping the other half. Roll out to a 15 x 5 inch rectangle. Cut into three 5 x 5 inch squares. Cut each square in half diagonally. Roll each triangle lightly to elongate the point, and make it 7 inches long. Grab the other 2 points, and stretch them out slightly as you roll it up. Place on a baking sheet, curving slightly. Let shaped croissants rise until puffy and light. In a small bowl, beat together egg and 1 tablespoon water. Glaze croissants with egg wash.</li>' +
                                        '<li>Step 5:Bake in a preheated 475 degrees F (245 degrees C) oven for 12 to 15 minutes.</li>' +
                                    '</ul>'
                    $('.modal-body').html(croissanthtml);
                }
            });
        }());
    </script>
</body>
</html>
